

<div class="main">
    <h2 class="header">
        <p>Welcome to Employee Management System</p>
    </h2>
    <button class="addEmployee"  (click)="open(content)">Add</button>

    <div class="container" >
        <div class="badge" *ngFor="let employee of EmployeeList">
           <h3>{{employee.name}}</h3>           
           <span> salary</span>
           <span>{{employee.salary}}</span>
        </div>
    </div>

</div>

<ng-template #content let-modal>
    <div class="body">
        <label><span>Name</span></label>
        <input id="name" type="text"  [(ngModel)]="Employee.name"><br><br>
        <label><span>Salary</span></label>
        <input id="salary" type="text" [(ngModel)]="Employee.salary"><br><br>
        <button id="submit" class="submit" (click)="addEmployee()" >Add</button>
        <button id="close" class="close" (click)="close()">close</button>
    </div>
</ng-template>